.homePage{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #6743ff 0%, #8e46ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
@media (max-width: 870px){
    .homePage{
        height: 150vh;
    }
}